<style>
/* cover pdp dc bottom icons */
    .fabric-description{
        max-width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;        
        }
    .fabric-description .fabric-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .fabric-description .fabric-list table{
        border: none;
        outline: none;
        width: 100%;
        table-layout: auto;
    }
    .fabric-description .fabric-list table tr {
        border: 1px #ccc solid !important;
        outline: none;
        margin:5px 0px;
    }
    .fabric-description .fabric-list table tr td:nth-child(2){
        padding-left: 10px;
    }
    .fabric-description .fabric-list table tr td:first-child{
        padding: 5px;
        width: 110px;
        background: #038e62;
        color: white;
    }
    .fabric-description .fabric-list table tr td{
        position: relative;
    }
    .fabric-description .fabric-list table tr td:first-child::after{
        content: "";
        width: 10px;
        height: 10px;
        rotate: 45deg;
        background: #038e62;
        position: absolute;
        right: -5px;
    
    }
    .fabric-description .fabric-info{
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .fabric-description .fabric-info ul{
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
      align-items: center;
        justify-content: space-between;
    }
    .fabric-description .fabric-info ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;margin: 0;
    }
    .fabric-description .fabric-info ul li img{
    width: 80px;
    height: 80px;
    }
    .fabric-description .fabric-info ul li p{
        font-weight: bold;
    }
</style>

    <div class="fabric-description">
            <div class="fabric-list">
                <table>
                    <tr>
                        <td><b>Material:</b></td>
                        <td>18 oz, 1000D, PVC Coated Polyester</td>
                    </tr>
                    <tr>
                        <td><b>Ideal for:</b></td>
                        <td>Extreme Weather</td>
                    </tr>
                    <tr>
                        <td><b>Feature:</b></td>
                        <td>UV Resistant, Waterproof, Mold & Mildew Resistant, High Durability, Tear & Abrasion Resistant</td>
                    </tr>
                </table>
            </div>
            <div  class="fabric-info">
            <ul>
                <li>
                        <img src="https://cdn.shopify.com/s/files/1/0614/7453/7714/files/Untitled_design_12_ac74ac33-33b8-4b76-94a3-b1416537273f.png?v=1726673790" alt="Waterproof">
                        <p>Waterproof</p>
                </li>
      <li >
                        <img src="https://cdn.shopify.com/s/files/1/0614/7453/7714/files/07_warrenty_icon-removebg-preview.png?v=1726673646" alt="warranty">
                        <p>10-year warranty</p>
                </li>
                <li >
                        <img src="https://cdn.shopify.com/s/files/1/0614/7453/7714/files/05_UV_Sale_and_Fade_Resistant_icon-removebg-preview.png?v=1726673554" alt="UV Resistant">
                        <p>UV Resistant</p>
                </li>
            </ul>
        </div>
        </div>