<section id="Sunbrella" data-section-id="o06isg6j6pq" data-section="top-439442" data-dev="hongyen" data-lh-page-id="1455" data-lh-page-name="Greye" data-layouthub="section">  
 <div class="lh-section">
	<div class="lh-text">
   
<!--fabric info-->
<!-- Sunbrella -->

<table class="fabric-dlts">
    <tbody><!--<tr>
        <td colspan="3">
            <div class="just-line"></div><br>
            <div class="detailsSummary">
                <h4 style="text-align: justify;">We offer Sunbrella® fabrics in more than 200 colors and finishes.</h4>

              <p>The Sunbrella® brings you 100% solution-dyed acrylic fabrics. The fiber is saturated with color and UV-stabilized pigments. Sunbrella® is UV-resistant and fade-resistant. The fabrics are also water-resistant and mold / mildew-resistant as well. The Sunbrella® fabrics are tough enough to be used in outdoor spaces but still soft and comfortable indoors. The fabrics are also really easy to maintain and clean. With this collection, you can find a wide range of colors, shades, and designs for any kind of furnishing project. All Sunbrella® fabric comes with 5 years of limited warranty against fading.</p>
            </div>

    </td></tr>
    <tr>
        <td colspan="3">
            <div class="images-for-fabrics-dtls">
              
                    <div class="details-for-fabrics-img"><img src="https://cdn.shopify.com/s/files/1/0614/7453/7714/files/03_Stain_Resistant_icon-removebg-preview.png?v=1714071716923"><p>Stain resistant


                    </p>
                    </div>
                    <div class="details-for-fabrics-img"><img src="https://cdn.shopify.com/s/files/1/0614/7453/7714/files/04_Mold_Milddew_Resistant_icon-removebg-preview.png?v=1714071716621"><p>Mold/Mildew Resistant

                    </p>
                    </div>
                    <div class="details-for-fabrics-img"><img src="https://cdn.shopify.com/s/files/1/0614/7453/7714/files/05_UV_Sale_and_Fade_Resistant_icon-removebg-preview.png?v=1714071716298"><p>UV safe and fade resistant

                    </p>
                    </div>
                    <div class="details-for-fabrics-img"><img src="https://cdn.shopify.com/s/files/1/0614/7453/7714/files/06_Indoor_Outdoor_uses_icon-removebg-preview.png?v=1714071715337"><p>Indoor / Outdoor

                    </p>
                    </div>
                    <div class="details-for-fabrics-img"><img src="https://cdn.shopify.com/s/files/1/0614/7453/7714/files/07_warrenty_icon-removebg-preview.png?v=1714071716149"><p>5-year warranty</p>
                    </div>

            </div>
        </td>

    </tr>
    <!--<tr style="border: 1px #04AA6D solid;">
        <th>Highlights</th>
        <th>Wash Care</th>
        <th>Use </th>

    </tr>


    <tr style="border: 1px #04AA6D solid;">
        <td style="border: 1px #04AA6D solid;">
            <li data-lh-list=""><span>•  </span><span>Solution-dyed acrylic fabrics.</span></li>
            <li data-lh-list=""><span>•  </span><span>Stain resistant </span> 
            </li><li data-lh-list=""><span>•  </span><span>Mold/Mildew Resistant  </span> </li>
          <li data-lh-list=""><span>•  </span><span>UV safe and fade resistant </span> 
            </li><li data-lh-list=""><span>•  </span><span>Suitable for Indoor/Outdoor uses</span> 
            </li><li data-lh-list=""><span>•  </span><span>5-year warranty by Sunbrella </span> 
        </li></td>
        <td style="border: 1px #04AA6D solid;">
            <ol>
                <li data-lh-list=""><span>1.</span><span> Remove loose dirt with a soft-bristled brush.</span></li>
                <li data-lh-list=""><span>2.</span><span> Make a solution of mild soap and water and spray.</span></li>
                <li data-lh-list=""><span>3.</span> <span>Rub this in using a soft-bristled brush.</span></li>
                <li data-lh-list=""><span>4.</span> <span>Let the solution soak into the fabric.</span></li>
                <li data-lh-list=""><span>5.</span> <span>Rinse thoroughly to remove all soap.</span></li>
                <li data-lh-list=""><span>6.</span> <span>Let it air dry.</span>
        </li></ol></td>
        <td>Indoor / Outdoor </td>

    </tr>-->
    <tr>
        <td colspan="3">
           <div class="xo-gallery" data-id="53"></div>
      
        </td>
    </tr>
</tbody></table>   
			</div>
		</div>
</section>

    <script>
    function SunbrellacopyText() {
        // Copy the predefined link to the clipboard
        var link = "https://zipcushions.com/pages/all-fabrics-collection#Sunbrella";
        navigator.clipboard.writeText(link).then(function() {
            // Optional: Alert the user that the text has been copied
            alert("Catalog Link Copied");
        }, function(err) {
            console.error('Could not copy text: ', err);
        });
    }
    </script>
    <style>
      .imagebox{
        border-radius:0 !important;
      }
      .xo-styles-desc{
        font-size:10px !important;
        text-align:center !important;
      }
      .fabric-left .xo-loadmore--center {
    text-align: center !important;
}
.fabric-left a.xo-loadmore.imagebox__btn{
  padding:5px 10px !important;
}
.xo-styles-template1 a:hover{
  background:none !important;
}

    </style>
<script data-theme-editor-load-script src="{{ 'z__jsFAQ.js' | asset_url }}"></script>	