{% schema %}
{
  "name": "Order Steps",
  "settings": [],
   "presets": [
    {
      "name": "Order Steps",
      "category": "Custom"
    }
  ]
}
{% endschema %}
 
 <style>

    .shopify-section-container {
      width: 100%;
      background: #f9f9f9;
      padding: 80px 20px;
      text-align: center;
    }

    .shopify-section-container h2 {
      font-size: 2rem;
      margin-bottom: 10px;
      color: #1a1a1a;
      margin-top:0px
    }

    .shopify-section-container p {
      font-size: 1rem;
      color: #555;
      margin-bottom: 40px;
    }

    .shopify-steps-section {
      max-width: 1300px;
      margin: auto;
    }

    .steps-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 30px;
    }

    .order-steps {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      position: relative;
      background: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 10px rgba(0,0,0,0.08);
      transition: transform 0.3s ease;
    }

    .order-steps:hover {
      transform: scale(1.05);
    }
    .order-steps span {
      display: block;
      text-align: center;
      color: #222;
      font-size: 0.95rem;
      margin-top: 10px;
      z-index: 1;
    }

    .order-steps img {
      width: 60px;
      height: auto;
      z-index: 1;
    }
.order-steps .progress-no {
  position: absolute;
  top: 0px;      /* Push outside */
  right: 0px;    /* Push outside */
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  color: #767676;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
  z-index: 999;
}
    .shopify-steps-section h2{
        font-weight: bold;
        font-family: Lato-SemiBold;
      }

    @media (max-width: 768px) {
      .steps-wrapper {
        gap: 20px;
      }

      .order-steps {
        width: 130px;
        height: 130px;
        padding: 10px;
      }

      .order-steps img {
        width: 50px;
      }
     .shopify-steps-section h2{
        font-size: 26px;
      }
    }

    
  </style>


  <div class="shopify-section-container">
    <div class="shopify-steps-section">
      <h2>5 Easy Ordering Steps</h2>
      <p>Choose your product, Select Shape, input dimensions, select fabric, personalize & place your order!</p>
      {% comment %} <div class="steps-wrapper">
               <div class="order-steps one">
          <div class="progress-no">1</div>
          <img src="https://cdn.shopify.com/s/files/1/0614/7453/7714/files/shapes.svg?v=1757315131" alt="Measure" />
          <span>Select Shape</span>
        </div> {% endcomment %}

        <div class="order-steps two">
          <div class="progress-no">1</div>
          <img src="https://cdn.shopify.com/s/files/1/0614/7453/7714/files/measure.svg?v=1746964526" alt="Measure" />
          <span>Measure</span>
        </div>
        <div class="order-steps three">
          <div class="progress-no">2</div>
          <img src="https://cdn.shopify.com/s/files/1/0614/7453/7714/files/choose.svg?v=1746964526" alt="Choose" />
          <span>Choose Fabric</span>
        </div>
        <div class="order-steps four">
          <div class="progress-no">3</div>
          <img src="https://cdn.shopify.com/s/files/1/0614/7453/7714/files/personalize.svg?v=1746964526" alt="Personalize" />
          <span>Personalize</span>
        </div>
        <div class="order-steps five">
          <div class="progress-no">4</div>
          <img src="https://cdn.shopify.com/s/files/1/0614/7453/7714/files/order_6fef7bb5-1121-48ab-bcdf-c622c99c9c85.svg?v=1746964526" alt="Order" />
          <span>Order</span>
        </div>
      </div>
    </div>
  </div>
