.product_section:has(.bss-lock-element) [id*='Quantity-Form']{ cursor: not-allowed; opacity: .5; pointer-events: none }.product_section:has(.bss-lock-element) button.button--add-to-cart { cursor: not-allowed !important; opacity: .5 !important; pointer-events: none !important; }.product_section:has(.bss-lock-element) .shopify-payment-button { cursor: not-allowed !important; opacity: .5 !important; pointer-events: none !important; }.product_section:has(.bss-lock-element) .price-ui { display: none }
        .bss-hide-atc + * {
            display: none !important;
        }
			.bss-lock-hidden { display: none; }
			script#bss-behavior-script { display: none !important }
		
