@font-face {
  font-family: Lato-SemiBold;
  src: url(https://cdn.shopify.com/s/files/1/0614/7453/7714/files/LatoSemibold.woff?v=1744792972);
}
/*=============topbar==========*/
.mycontainer {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid !important;
    align-items: center !important;
}
.myheadleft {
    display: flex;
    align-items: center;
    gap: 5px;
}
.top-bar__richtext {
    text-align: center;
}
.myheadleft {
    float: none;
    width: auto;
}
.myheadleft1 a {
    font-size: 15px;
    font-family: 'Lato';
    margin: 0;
}
.top-bar__richtext p {
    font-size: 15px;
    font-weight: 600;
    padding-top: 0!important;
}
/*=============Header============*/
#header {
    box-shadow: none;
}
.custom-header-inner {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    padding: 10px 0;
}
.header-layout--left .header__menu {
    width: 100%;
}
.header-layout--left .header__brand {
    position: relative;
    z-index: 9;
    margin-bottom: 0;
}
header-iconx .header__icons {
    visibility: visible;
    opacity: 1;
}
.menu-right {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}
.menu-right .header__menu-items {
    align-content: center;
    justify-content: end;
}
.top-bar__icons .header-cart>a {
    padding: 0!important;
}

/*===============accordions===============*/
section.section.is-positon-left .page-faq__column-wrap.container.column-wrapper {
    flex-direction: row-reverse;
}
.home-faq{    
   max-width: 1320px;
   padding: 0;
}
.home-faq .column-wrapper .faq--image {
    padding-right: 36px;
    padding-left: 0;
}
.home-faq .faq-accordion dt .icon {
    left: unset!important;
    right: 10px!important;
}
.home-faq .faq-accordion dt button {
    color: #000000!important;
    padding: 15px 20px 23px 0px!important;
    text-align: left!important;
    font-family: Lato-SemiBold;
    font-size: 20px!important;
}
.home-faq button.accordion-style--carets.accordion__button img {
    width: 26px;
    height: 26px;
    object-fit: contain;
    margin-right: 10px;
    margin-bottom: -8px;
}
.home-faq .faq-accordion dt {
    border-bottom: 1px solid #0000001A!important;
    border-color: #0000001A;
    margin-bottom: 10px;
    border-radius: 0px!important;
    background-color: transparent!important;
    border: none;
}
.home-faq .faq-accordion .content p {
    font-size: 15;
    color: #00000099;
}
.home-faq .faq-accordion .content {
    text-align: left!important;
}
.home-faq .accordion dd, .faq-accordion dd {
    display: none;
    padding: 12px 0px 10px 0px!important;
}
.img-top h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: Lato-SemiBold;
}
.img-txt {
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}
.home-faq  .accordion dt a[aria-expanded=true], .home-faq  .accordion dt a:hover, .home-faq  .faq-accordion dt button[aria-expanded=true], .home-faq  .faq-accordion dt button:hover {
    background-color: #00000000!important;
}

/*==================featured-collection====================*/
div#shopify-section-template--19344938041586__index_featured_collection_UnbwFJ {
    background: #F7F8FB;
}
.home-collection {
    width: 100%!important;
    max-width: 1260px!important;
    margin: 0 auto;
}
.home-collection .is-flex-column {
    flex-direction: row;
}
.home-collection .container.text-center.myproductstitlee img {
    display: none;
}
.home-collection .container.text-center.myproductstitlee {
    margin-bottom: 40px;
}
.myproductstitlee h2 {
    font-family: Lato-SemiBold;
    font-size: 30px;
    color: #000000;
    font-family: Lato-SemiBold;
}
.home-collection .image-element__wrap img {
    width: 230px!important;
    object-fit: cover;
    max-height: 230px!important;
}
.home-collection .image-element__wrap {
    box-shadow: 3px 3px 15px #00000014;
    border-radius: 12px;
    width: 230px!important;
    max-height: 230px!important;
    overflow: hidden;
}
.home-collection  a.product-thumbnail__title {
    font-size: 16px;
   font-family: Lato-SemiBold;
	margin-bottom: 7px;
}
.home-collection  .product-thumbnail span.money {
    font-size: 14px;
    color: #000000;
    line-height: 21px;
}
.home-collection  .product-thumbnail small {
    display: none;
}
.home-collection  .flickity-button {
    background: transparent;
    border: none;
}
.home-collection  .flickity-prev-next-button .flickity-button-icon {
    display: none;
}
.home-collection  .flickity-prev-next-button {
    top: -69px;
    width: 30px;
    height: 30px;
}
.home-collection  .flickity-prev-next-button .flickity-button-icon {
    width: 100%;
    height: 100%;
}

.home-collection .flickity-prev-next-button.previous {
    left: auto;
    right: 50px;
    top: -83px;
    z-index: 2;
}
.home-collection .flickity-prev-next-button.next {
    right: 10px;
}
.home-collection button.flickity-button.flickity-prev-next-button.previous {
    background: url(https://cdn.shopify.com/s/files/1/0614/7453/7714/files/Right.png?v=1744197352);
    background-size: contain;
    transform: rotate(180deg);
}
.home-collection button.flickity-button.flickity-prev-next-button.next {
    background: url(https://cdn.shopify.com/s/files/1/0614/7453/7714/files/Right.png?v=1744197352);
    background-size: contain;
}
/*===========================*/
.home-faq {
    max-width: 1260px!important;
}
.heading-icons h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
  font-family: Lato-SemiBold;
}
.home-icons h3.icon-column__title.title {
    font-size: 20px;
    font-family: Lato-SemiBold;
    margin-top: 20px;
}
.home-icons .icon-column__text p {
    font-size: 15px;
    color: #00000099;
}
.home-icons .icon-with-text-column__column {
    border-radius: 12px;
}
.home-icons span.icon.is-medium {
    display: none;
}
div#shopify-section-icon_box_XBhRnL {
    display: none;
}
.icon-box-section.template--19344938041586__icon_box_HmkqxF {
    display: none;
}
/*===========footer================*/
.landing-page #shopify-section-footer-classic:before {
    z-index: -2;
}
.landing-page.page-landing-page #shopify-section-footer-classic {
    margin: 0px auto 0!important;
}
ul.acc-gallery {
    column-count: 2;
}

body .footer__heading:before {
    content: "";
    position: absolute;
    height: 40px;
    width: 60px;
    border-bottom: 1.2px solid #CCCED1;
}

.address ul li .address_details {
    width: 90%;
    margin-left: 10px;
    text-align: left;
    font-size: 15px;
}
.address_details b {
    font-size: 16px;
}
.address b {
    display: block;
}
.address_details.last a {
    text-decoration: underline!important;
}
.section.is-width-wide .container.has-limit {
    max-width: 1300px!important;
}
section.footer__content {
    padding-top: 60px!important;
    padding-bottom: 25px!important;
}
div#shopify-section-logo_N48XhM {
    width: 18%;
}
div#shopify-section-1562706968599 {
    width: 16%;
}
div#shopify-section-1562706841433 {
    width: 16%;
}
div#shopify-section-ddc17800-d75b-42c5-83a3-592aa29674f9 {
    width: 18%;
}
div#shopify-section-749d1da6-62b7-4507-bba5-db6a95136bd3 {
    width: 23%;
}

footer .newsletter-form.is-responsive {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
footer .newsletter-form__wrapper {
    width: 75%;
    margin-left: auto;
}
footer button.button.button--secondary.is-within-form {
    background: #294D4A;
    color: #fff;
    border-radius: 6px;
    border: none;
    padding: 10px;
}
footer input.input.is-secondary-btn-style.is-regular {
    background: #fff;
    border-radius: 6px;
    border: none;
    min-height: 43px;
}
footer .newsletter-form .field label {
    text-align: left;
    display: none;
}
.footer__credits.two-thirds.column.small-down--one-whole p {
    font-size: 14px;
}
.payment-methods svg {
    margin: 0 2px;
}
ul.social-icons.is-flex.is-flex-wrap {
    gap: 10px;
}
#shopify-section-footer-classic:before {
    z-index: -1!important;
}
li.footer__menu-link {
    font-size: 15px;
    margin: 15px 0;
    font-family: 'Lato';
}
/*==========================Media-query=========================*/
@media (max-width: 1280px){
.home-collection .container.section.has-column-padding-bottom.featured-collection.layout--slider.is-justify-center {
    max-width: 98%;
    margin-right: 0;
}
.home-collection .image-element__wrap img {
    max-width: 260px!important;
    max-height: 260px!important;
	width: 100%!important;
}
.home-collection .image-element__wrap {
    max-width: 260px!important;
	width: 100%!important;
    height: 100%!important;
}  
}
@media (max-width: 767px) {
.faq.faq--image.faq__column-2 {
    width: 100%;
}
.faq.faq__column-1 {
    width: 100%;
}
section.section.is-positon-left .page-faq__column-wrap.container.column-wrapper {
    flex-direction: column-reverse;
    gap: 20px;
}
.home-faq  .Faq.section .img-top h2 {
    font-size: 28px;
    margin-bottom: 0px;
}
.home-faq  .Faq.section {
    padding: 0;
}
.home-faq  .Faq.section .img-txt {
    display: none;
}
.home-faq .Faq.section .image-element__wrap {
    display: none;
}
.myproductstitlee h2 {
    font-size: 28px;
    line-height: 34px;
    text-align: left;
    width: 70%;
}
.home-collection .container.section.has-column-padding-bottom.featured-collection.layout--slider.is-justify-center {
    max-width: 100%;
}
.featured-collection-section .flickity-prev-next-button, .block__featured-collection .flickity-prev-next-button {
    display: block;
}
.home-collection .flickity-prev-next-button.next {
    right: 20px;
}
.home-collection .flickity-prev-next-button.previous {
    right: 60px;
    top: -97px;
}
.home-collection .flickity-prev-next-button {
    top: -82px;
}
.faq-accordion dt button {
    font-size: 18px!important;
}
.column-wrapper .faq--image {
    padding-top: 0;
    padding-left: 0;
}
.column-wrapper .faq--image {
    padding-right: 0;
    padding-left: 0;
} 
div#shopify-section-template--19344938041586__index_icon_with_text_column_6CkzwW {
    display: none;
}
.icon-box-section.template--19344938041586__icon_box_HmkqxF {
    display: block;
}
.page-faq__column-wrap.container.column-wrapper {
    flex-direction: column-reverse;
}
.home-faq .img-top .img-txt, .home-faq .img-top .image-element__wrap {
    display: none;
}
.home-collection .image-element__wrap {
    width: 100%!important;
}
.home-faq .column-wrapper .faq--image {
    padding-right: 0;
    padding-left: 0;
}  
.home-faq .image-element__wrap {
    display: none;
}  
.img-top h2 {
    font-size: 28px;
    margin-bottom: 0px;
} 
.home-collection {
    max-width: 100%!important;
} 
#shopify-section-template--19344938041586__index_faq_XjawyV {
    padding-top: 20px!important;
      padding-bottom: 20px!important;
}  
#shopify-section-template--19344938041586__index_featured_collection_UnbwFJ {
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}
.home-faq .faq-accordion dt button {
    font-size: 18px!important;
}
.home-faq button.accordion-style--carets.accordion__button img {
    width: 23px;
    height: 23px;
} 
.home-faq {
    padding-left: 0;
}  
/*--------------footer-----------------*/
div#shopify-section-logo_N48XhM {
    width: 100%;
}
.footer__logo-wrapper.is-small {
    max-width: 35%;
    margin: 0 auto;
}
ul.social-icons.is-flex.is-flex-wrap {
    justify-content: center;
}

div#shopify-section-logo_N48XhM {
    width: 100%;
    text-align: center;
    order: 1;
}
div#shopify-section-749d1da6-62b7-4507-bba5-db6a95136bd3 {
    width: 100%;
    order: 2;
}
div#shopify-section-1562706968599 {
    order: 3;
}
div#shopify-section-1562706841433 {
    order: 4;
}
div#shopify-section-ddc17800-d75b-42c5-83a3-592aa29674f9 {
    width: 100%;
    order: 5;
}
div#shopify-section-logo_DDBPCm {
    width: 100%;
}
footer .newsletter-form__wrapper {
    width: 100%;
    margin-left: auto;
}
.newsletter-form .field.is-default-width {
    flex: 1 0 auto;
    min-width: 95px;
}
.footer__block.one-fifth .is-stretched-width {
    min-width: 70%!important;
} 
footer .newsletter-form.is-responsive {
    gap: 10px;
} 
.footer__payment-methods {
    padding-left: 0;
}
.payment-methods svg {
    margin: 0 1px;
    width: 32px;
}   
}