{% comment %}
  To edit the contents of this file, look inside the `sections` folder for the file name that comes directly after `section`. Eg. {% section 'product__main' %} or {% section 'page__banner' %}
{% endcomment %}

<main id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section blog-page" data-check-for-order="true">
     <div class="myheading">
      
BLOGS
       <!-- <p class="icon-after"></p> -->
</div>
  {% section 'blog__banner' %}
  <section class="section__wrapper
                  section
                  ">
    
    <div class="container">
      {% section 'blog__sidebar' %}
      {% section 'blog__main' %}
    </div>
  </section>
  {% style %}
    .myheading {
     margin: 150px 0;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    color: #0a9c51;
    letter-spacing: 5px;
                }

  {% endstyle %}
</main>