{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{% endcomment %}
<style>.cart__total, .cart__price, .cart__subtotal-container{visibility:hidden}</style>
<div id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section cart-page" data-check-for-order="true">
  {% section 'cart__banner' %}
  {% section 'cart__main' %}
  {% section 'cartpage_accordion' %}
</div>

<!-- Dynamic Product Options -->
<script type="text/javascript" src="https://node1.itoris.com/dpo/storefront/include.js?shop=zipcovers.myshopify.com"></script>

<style>.cart__total, .cart__price, .cart__subtotal-container{visibility:visible; color:#000;}
  .cart__total, .cart__price{
    font-weight:bold !important;
  }
  .justp{
padding-top:80px;
}
/* dpo sections  */
#itoris_dynamicproductoptions table {
padding: 30px 10px !important;
background: #FBFFF9 !important;
border: 2px solid #e0e0e0 !important;
border-radius: 8px !important;
margin-top: 20px !important;
}
#itoris_dynamicproductoptions .fieldset, .itoris_dynamicproductoptions .fieldset, #product-options-wrapper .fieldset.fieldset-section {
    margin-top: 20px;
}
.fieldset .form-list tbody tr:has(.Customize) {
    display: flex !important;
    gap: 20px;
    flex-wrap: wrap!important;
    justify-content: space-between !important;
}
#dpo_summary {
    margin-top: 20px  !important;
}
/* for dpo templates images(sumit)  */
  .custom-swatches-img{
  width:100px;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:5px;
}
.custom-swatches-img p{
  padding-top:10px; margin:0;
  font-size:12px;
  color:#000000;
  text-align:center;
}
.custom-swatches-img img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
@media screen and (max-width:767px){
  .custom-swatches-img{
  width:80px;
}
.custom-swatches-img img{
  width: 80px;
}
.custom-swatches-img p{
  padding:5px 0px; margin:0;
  font-size:10px;
}
}
</style>
